.delivery-car {
  width: 210px;
}
.why_choose_img{
      height: 660px;
    width: 90%;
}
.title-anim,
.title-anim .char {
  font-family: 'DM Sans', sans-serif !important;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}